<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-white bg-white">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% block button %}{% endblock %}
                </li>
            </ul>
        </nav>
        <div id="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
        {% block javascripts %}
        {% endblock %}
</html>