{% extends "base.html" %}

{% block stylesheets %} 
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block button %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/">Search</a>
{% endblock %}

{% block content %}
<form id="form_login" action="/sign-in" method="post">
    <input name="username" type="text" placeholder="Username"><br>
    <input name="password" type="password" placeholder="Password"><br>
    <button type="submit" class="btn btn-outline-secondary">Log In</button>
</form>
{% endblock %}